<h2 class="text-center underline">Contacto</h2>
<div class="flex justify-center gap-8">
  <div class="flex justify-center cursor-pointer">
    <a href="https://wa.me/+5491132995113" class="flex flex-col">
      <div class="flex justify-center items-end">
        <img
          src="./../../../assets/img/whatsapp.png"
          alt="whatsapp"
          width="70px"
        />
        <img src="./../../../assets/img/hand.png" alt="hand" class="hand">
      </div>
    </a>
  </div>
  <div class="flex justify-center cursor-pointer">
    <a
      href="https://www.pedidosya.com.ar/restaurantes/venado-tuerto/henry-cook-1b33ea3f-ab8c-430e-9be4-5c1423afbb34-menu?utm_source=google&utm_medium=organic&utm_campaign=google_reserve_place_order_action"
      class="flex flex-col"
    >
      <div class="flex justify-center items-end">
        <img
          src="./../../../assets/img/pedidos-ya.png"
          alt="whatsapp"
          width="74px"
        />
        <img src="./../../../assets/img/hand.png" alt="hand" class="hand">
      </div>
    </a>
  </div>
</div>
