<section id="sobre-nosotros" class="flex justify-center" id="sobre-nosotros">
  <div class="container w-full sm:w-1/2">
    <h2 >Sobre Nosotros</h2>
    <div class="content">
      <div class="text">
        <p>
          Bienvenido a nuestro restaurante. Aquí servimos comida deliciosa con
          ingredientes frescos y de la mejor calidad. Nuestro equipo está
          dedicado a ofrecer una experiencia gastronómica inolvidable.
        </p>
        <p>
          Desde nuestros inicios, hemos trabajado con pasión para crear un lugar
          acogedor donde amigos y familia puedan disfrutar de una buena comida.
        </p>
      </div>
      <div class="images">
        <img
          src="../../../assets/img/Restaurant-1.png"
          alt="Restaurant"
          class="animate"
        />
        <img
          src="../../../assets/img/restaurant-2.png"
          alt="Restaurant 2"
          class="animate"
        />
      </div>
    </div>
  </div>
</section>
