<footer class="bg-black text-white">
  <div class="container mx-auto py-8">
    <div class="flex flex-wrap justify-center gap-5 md:gap-40">
      <div class="w-full sm:w-1/2 md:w-1/4 lg:w-1/6 px-4">
        <h3 class="text-center">Redes sociales</h3>
        <div class="flex gap-2 justify-center ">
          <a href="#" class="flex align-middle">
            <span class="icon-[logos--facebook] text-xl mx-2" role="img" aria-hidden="true"></span> Facebook
            <h3 class="text-lg font-semibold mb-4">
            </h3>
          </a>
          |
          <a href="#" class="flex align-middle">
            <span class="icon-[skill-icons--instagram] text-xl mx-2" role="img" aria-hidden="true"></span> Instagram
            <h3 class="text-lg font-semibold mb-4">
            </h3>
          </a>
          |
          <a href="#" class="flex align-middle">
            <span class="icon-[prime--twitter] text-xl mx-2" role="img" aria-hidden="true"></span> X
            <h3 class="text-lg font-semibold mb-4">
            </h3>
          </a>
        </div>
      </div>
      <div class="w-full sm:w-1/2 md:w-1/4 lg:w-1/6 px-4">
        <h3 class="text-lg font-semibold mb-4">Legales</h3>
        <ul class="list-none">
          <li><a href="#" class="text-gray-400 hover:text-white">Términos y condiciones</a></li>
          <li><a href="#" class="text-gray-400 hover:text-white">Política de privacidad</a></li>
          <li><a href="#" class="text-gray-400 hover:text-white">Aviso legal</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
