<nav>
  <div class="hamburger" (click)="openSlidingPanel()">
    <span
      class="icon-[radix-icons--hamburger-menu]"
      role="img"
      aria-hidden="true"
    ></span>
  </div>
  <app-sliding-panel
    [isSlidingPanelOpen]="isSlidingPanelOpen"
    (closePanel)="isSlidingPanelOpen = false"
  ></app-sliding-panel>
  <div class="flex justify-between w-full">
    @if(navbarDataList.logo.show){
    <div class="logo me-auto">
      <a href="/">
        <img
          [src]="navbarDataList.logo.src"
          [alt]="navbarDataList.logo.alt"
          class="h-10"
        />
      </a>
    </div>
    }
    <ul class="navItems">
      <li>
        <a href="/menu">Menu</a>
      </li>
      <li>
        <a href="#sobre-nosotros">Sobre Nosotros</a>
      </li>
      <li>
        <a href="#galeria">Galeria</a>
      </li>
      <li>
        <a href="#contacto">Contacto</a>
      </li>
      <li>
        <a href="#horarios">Horarios</a>
      </li>
    </ul>
    <div class="icon">
      @if(navbarDataList.tools.cart){
      <span class="icon-[mdi--cart] mx-2" role="img" aria-hidden="true"></span>
      } @if(navbarDataList.tools.user){
      <div class="icon">
        <span
          class="icon-[ph--user-circle-fill] mx-2"
          role="img"
          aria-hidden="true"
        ></span>
      </div>
      }
    </div>
  </div>
</nav>
