<nav>
  <div class="hamburger" (click)="toggleSlidePanel()">
    <span
      class="icon-[radix-icons--hamburger-menu]"
      role="img"
      aria-hidden="true"
    ></span>
  </div>
  <div class="logo">
    @if(navbarDataList.logo.show){
    <img [src]="navbarDataList.logo.src" [alt]="navbarDataList.logo.alt" />
    }
  </div>
  <div></div>
  <ul class="navItems">
    @for(section of navbarDataList.sections; track section){
    <li>
      <a [href]="'#' + section">{{ section }}</a>
    </li>
    }
  </ul>
  <app-sliding-panel
    [sections]="navbarDataList.sections"
    [isSlidingPanelOpen]="isSlidingPanelOpen"
    (closePanel)="isSlidingPanelOpen = false"
  ></app-sliding-panel>
  <div class="icon">
    @if(navbarDataList.tools.cart){
    <span class="icon-[mdi--cart] mx-2" role="img" aria-hidden="true"></span>
    } @if(navbarDataList.tools.user){
    <span
      class="icon-[ph--user-circle-fill] mx-2"
      role="img"
      aria-hidden="true"
    ></span>
    }
  </div>
</nav>

