iframe{
  height: 80vh;
}

.main_btn {
  background: #000000;
  width: 150px;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.main_btn a {
  color: #ffffff;
  font-weight: 500;
  font-size: 1.2rem;
  text-decoration: none;
}
