<div class="direction text-center">
  <h2 class="text-xl font-medium">¡Vení a visitarnos!</h2>
  <h3>San Martín 722, Venado Tuerto, Santa Fe</h3>
</div>
<div class="maps mb-8">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3317.567892755566!2d-61.967109584933475!3d-33.745988126727624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95c864b17cce7a21%3A0x4be2e82de7e5eb0a!2sHenry%20Cook!5e0!3m2!1ses-419!2sar!4v1713490521272!5m2!1ses-419!2sar"
          width="90%" height="700"  frameborder="0" style="border:0; margin:0; padding:0; width: 90%; height: 100%; margin: 0 auto;"
          allowfullscreen="true" referrerpolicy="no-referrer-when-downgrade"
          loading="lazy">
  </iframe>
</div>
