.schedule-title{
  margin-top: 20px;
}
@media (min-width: 1024px) {
  .schedule-list{
    display: grid;
  }
}
@media (max-width: 1024px) {
  .schedule-list{
    display: flex;
  }
}
h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #333;
}
